<?xml version="1.0"?>
<!--
Web.config file for 2018-bodykey.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="appId" value="ae5a7c6b7ca6f4bdd377bce2fcd0c727af6f21fa" />
    <add key="appSecret" value="e2781ceb6e553c6e5e507873b53054a2e3e4d78e" />
    <add key="sn" value="1160039200107392" />
  </appSettings>
</configuration>